.pageFormContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--color-surface);
  padding: 2rem;
  border-radius: 8px;
  max-width: 400px;
  margin: 2rem auto;
}

.modalForm {
  display: flex;
  flex-direction: column;
  gap: 1.5rem; /* A bit more spacing for modals */
}

.formField {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.formField label {
  font-weight: bold;
  font-size: var(--font-size-sm);
  color: #666;
}
